<!DOCTYPE html>
<html lang="ja">
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Acc-Base</title>

  </head>

  <body>
    <!--必要なファイル(読み込む順番は厳守)-->
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyD8E7yEGCx6EfNdV0_eAD79g8WKuhhXAgo&language=ja" defer></script>
    <script src="public/javascripts/vendor/jquery-1.10.2.min.js" type="text/javascript" defer></script>
    <script src="public/javascripts/vendor/jquery-ui-1.10.3.custom.min.js" type="text/javascript" defer></script>
    <script src="public/javascripts/lib/shader_utils/create_program.js" type="text/javascript" defer></script>
    <script src="public/javascripts/lib/shader_utils/create_shader.js" type="text/javascript" defer></script>
    <script src="public/javascripts/lib/shader_utils/create_vbo.js" type="text/javascript" defer></script>
    <script src="public/javascripts/lib/shader_utils/set_attribute.js" type="text/javascript" defer></script>
    <script src="public/javascripts/lib/calculateDate.js" type="text/javascript" defer></script>
    <script src="public/javascripts/lib/display_resize.js" type="text/javascript" defer></script>
    <script src="public/javascripts/lib/contentLoad.js" type="text/javascript" defer></script>
    <script src="public/javascripts/script.js" type="text/javascript" defer></script>

    <!--左上の場所と日付を選択するエリア-->
    <div class="select_list">

      <div class="select_place">
        <span id="pos_topText">Location: </span>
        <select id="acc_place">
          <!--エクセルファイルから読み込まれた場所データはここに追加される-->
          <option></option>
        </select>
      </div>

      <div class="select_date">
        <span id="date_topText">Date: </span>
        <!--日付選択フォーム-->
        <input id="acc_date" type="month">
      </div>

      <input id="listButton" type="button" value="Listed" onclick="listPostRequest()">

    </div>

    <!--XYZの最大値と最小値の差のリストが表示されるエリア-->
    <div class="select_data">
      <span id="listText">Month/Day:Hour XYZ(Max-Min)</span>
      <br>
      <select id="acc_data" size="24">
        <!--エクセルファイルから読み込まれた最大値最小値の差データはここに追加される-->
      </select>
      <div class="listHourSpace">
        <!--読み込むファイルの数を選択する場所-->
        <select id="listHour">
          <option value="1" selected>1</option> <!--1時間分-->
          <option value="2">2</option>          <!--2時間分-->
        </select>
        <span id="listHourText">hour</span>
        <input id="dataButton"  type="button" value="Display" onclick="dataPostRequest()">
      </div>
    </div>

    <!--読み込んだデータをグラフ表示するエリア-->
    <div class="data_area">

      <div class="select_gal">
        <span id="gal_topText">Graph Height:</span>
        <br>
        <span id="gal_underTopText">±</span>
        <!--グラフの上下幅を選択するタブ-->
        <select id="gal_value">
          <option value="1" selected>1</option>
          <option value="5">5</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="250">250</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
          <option value="2500">2500</option>
        </select>
        <span id="gal_underUnderText">gal</span>
      </div>

      <div class="select_time">
        <span id="time_topText">Length of time: </span>
        <br>
        <!--グラフの表示時間(横)をおおまかに指定するラジオボタン-->
        <div id="time_radioButton">
          <input type="radio" name="radioButton" id="button1h" onclick="changeValue();" checked="checked">1h
          <br>
          <input type="radio" name="radioButton" id="button0m" onclick="changeValue();">0m ~ 14m59s
          <input type="radio" name="radioButton" id="button15m" onclick="changeValue();">15m ~ 29m59s
          <br>
          <input type="radio" name="radioButton" id="button30m" onclick="changeValue();">30m ~ 44m59s
          <input type="radio" name="radioButton" id="button45m" onclick="changeValue();">45m ~ 59m59s
        </div>
      </div>

      <!--グラフ-->
      <dic class="data_graph">
        <!--Xグラフ-->
        <div class="dx_data">
          <span id="x_Text">X:</span>
          <br>
          <canvas id="dx_canvas"></canvas>
          <span id="x_maxText">max:</span>
          <input id="dx_max" type="text" value=0>
          <span id="dx_top"></span>
          <br>
          <span id="x_ave">ave:</span>
          <input id="dx_average" type="text" value=0>
          <br>
          <span id="x_minText">min:</span>
          <input id="dx_min" type="text" value=0>
          <span id="dx_bottom"></span>
        </div>

        <br>

        <!--Yグラフ-->
        <div class="dy_data">
          <span id="y_Text">Y:</span>
          <br>
          <canvas id="dy_canvas"></canvas>
          <span id="y_maxText">max:</span>
          <input id="dy_max" type="text" value=0>
          <span id="dy_top"></span>
          <br>
          <span id="y_ave">ave:</span>
          <input id="dy_average" type="text" value=0>
          <br>
          <span id="y_minText">min:</span>
          <input id="dy_min" type="text" value=0>
          <span id="dy_bottom"></span>
        </div>

        <br>

        <!--Zグラフ-->
        <div class="dz_data">
          <span id="z_Text">Z:</span>
          <br>
          <canvas id="dz_canvas"></canvas>
          <span id="z_maxText">max:</span>
          <input id="dz_max" type="text" value=0>
          <span id="dz_top"></span>
          <br>
          <span id="z_ave">ave:</span>
          <input id="dz_average" type="text" value=0>
          <br>
          <span id="z_minText">min:</span>
          <input id="dz_min" type="text" value=0>
          <span id="dz_bottom"></span>
        </div>

        <br>

        <!--グラフの表示時間(横)を操作するエリア-->
        <div class="time_area">
          <span id="time_bottom_text">Time:</span>
          <input id="time_start" type="time" step="1">
          <input id="time_finish" type="time" step="1">
        </div>
      </dic>

    </div>

    <!--CSVファイルをダウンロードするエリア-->
    <div class="download_area">
      <span id="downloadText_top"></span>
      <br>
      <span id="downloadText_bottom"></span>
      <br>
      <a id="download" href="#" class="download_btn" onclick="csvDataDownload()">File Download</a>
    </div>

    <!--Google Map関連-->
    <div class="side_bar">
      <aside>
        <!--Google Map-->
        <div id="map"></div>
        <!--Google Mapの開閉ボタン-->
        <button>MAP</button>
      </aside>
    </div>

    <!--WebGLのバーテックスシェーダ-->
    <script id="vs" type="x-shader/x-vertex">
      attribute vec3 position;
      attribute vec4 color;
      varying vec4 vColor;

      void main() {
        vColor = color;
        gl_Position = vec4( position, 1.0 );
      }
    </script>

    <!--WebGLのフラグメントシェーダ-->
    <script id="fs" type="x-shader/x-fragment">
      precision mediump float;
      varying vec4 vColor;

      void main() {
        gl_FragColor = vColor;
      }
    </script>

  </body>
</html>
