.html {
  height: 100%;
}

.body {
  height: 100%;
}

#map {
  height: 30%;
  width: 18%;
  float: right;
}

/*
  場所と日付を決める箇所
*/

.select_list {
  top: 0vh;
  margin-top: 3vh;
  margin-left: 2.5vw;
  width: 30vw;
  height: 10vh;
  position: absolute;
}

.select_place {
  position: absolute;
  width: 30vw;
}

#pos_topText {
  position: absolute;
}

#acc_place {
  position: absolute;
  left: 75px;
  top: 3px;
}

.select_date {
  position: absolute;
  width: 30vw;
  top: 25px;
}

#date_topText {
  position: absolute;
}

#acc_date {
  position: absolute;
  left: 45px;
}

#listButton {
  position: absolute;
  display: inline-block;
  background: #0066FF;/*ボタン色*/
  color: #FFF;
  top: 27.5px;
  left: 195px;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

#listButton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/*
  リストからファイルを選ぶ箇所
*/

.select_data {
  margin-left: 2.5vw;
  width: 30vw;
  height: 60vh;
  top: 13vh;
  position: absolute;
}

#listText {
  position: absolute;
}

#acc_data {
  position: absolute;
  font-size: large;
  width: 20vw;
  height: 55vh;
}

.listHourSpace {
  position: absolute;
  left: 21vw;
  top: 50vh;
}

#listHour {
  position: absolute;
}

#listHourText {
  position: absolute;
  left: 40px;
}

#dataButton {
  position: absolute;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #003399;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #333333;
  border-radius: 3px;
  left: 0px;
  top: 30px;
}

#dataButton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/*
  データを表示する箇所
*/

.data_area {
  margin-top: 3vh;
  margin-left: 2.5vw;
  width: 55vw;
  height: 97vh;
  top: 0vh;
  left: 35vw;
  position: absolute;
}

.select_gal {
  position: absolute;
  top: 0vh;
  width: 15vw;
  height: 10vh;
  text-align: left;
}

#gal_topText {
  position: absolute;
}

#gal_underTopText {
  position: absolute;
  left: 0px;
}

#gal_value {
  position: absolute;
  left: 20px;
}

#gal_underUnderText {
  position: absolute;
  left: 80px;
}

.select_time {
  position: absolute;
  top: 0vh;
  left: 15vw;
  width: 40vw;
  height: 10vh;
}

#time_topText {
  position: absolute;
}

#time_radioButton {
  position: absolute;
  opacity: 0;
}

/*
  グラフ
*/

.data_graph {
  position: absolute;
  top: 13vh;
  width: 55vw;
  height: 84vh;
}

.dx_data {
  position: absolute;
  top: 0vh;
  width: 55vw;
  height: 25vh;
}

#x_Text {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 2vh;
}

#x_maxText {
  position: absolute;
  left: 0vw;
}

#dx_max {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#dx_top {
  position: absolute;
  text-align: right;
  width: 50px;
}

#x_ave {
  position: absolute;
  height: 2vh;
}

#dx_average {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#x_minText {
  position: absolute;
  left: 0vw;
}

#dx_min {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#dx_bottom {
  position: absolute;
  text-align: right;
  width: 50px;
}

#dx_canvas {
  position: absolute;
  right: 0vw;
}





.dy_data {
  position: absolute;
  top: 25vh;
  width: 55vw;
  height: 25vh;
}

#y_Text {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 2vh;
}

#y_maxText {
  position: absolute;
  left: 0vw;
}

#dy_max {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#dy_top {
  position: absolute;
  text-align: right;
  width: 50px;
}

#y_ave {
  position: absolute;
  height: 2vh;
}

#dy_average {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#y_minText {
  position: absolute;
  left: 0vw;
}

#dy_min {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#dy_bottom {
  position: absolute;
  text-align: right;
  width: 50px;
}

#dy_canvas {
  position: absolute;
  right: 0vw;
}





.dz_data {
  position: absolute;
  top: 50vh;
  width: 55vw;
  height: 25vh;
}

#z_Text {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 2vh;
}

#z_maxText {
  position: absolute;
  left: 0vw;
}

#dz_max {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#dz_top {
  position: absolute;
  text-align: right;
  width: 50px;
}

#z_ave {
  position: absolute;
  height: 2vh;
}

#dz_average {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#z_minText {
  position: absolute;
  left: 0vw;
}

#dz_min {
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 5vw;
  height: 2vh;
}

#dz_bottom {
  position: absolute;
  text-align: right;
  width: 50px;
}

#dz_canvas {
  position: absolute;
  right: 0vw;
}





.time_area {
  position: absolute;
  top: 75vh;
  left: 0vw;
  width: 55vw;
  height: 10vh;
}

#time_bottom_text {
  position: absolute;
  text-align: left;
}

#time_start {
  position: absolute;
  text-align: center;
}

#time_finish {
  position: absolute;
  text-align: center;
}

/*
  サイドバー
*/

.side_bar {
  position: relative;
}

.side_bar > aside {
  background-color: rgba( 0, 0, 0, 0.8 );
  width: 90vw;
  height: 100vh;
  top: 0;
  right: -90vw;
  position: fixed;
}

.side_bar > aside button {
  background-color: rgba( 125, 125, 125, 0.8 );
  display: block;
  position: absolute;
  top: 150px;
  right: 90vw;
  width: 52px;
  height: 132px;
  margin: 0;
  padding: 0;
  border: none;
  color: azure;
}

#map {
  position: absolute;
  top: 5vh;
  right: 22.5vw;
  width: 60vw;
  height: 90vh;
}

/*
　ダウンロードボタン
*/
.download_area {
  position: absolute;
  margin-left: 2.5vw;
  top: 73vh;
  height: 27vh;
  width: 30vw;
}

.download_btn {
  position: absolute;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.download_btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

#download {
  opacity: 0;
}